openapi: 3.2.0
info:
  title: EpicDirectories Public API
  description: API-first directory data platform.
  version: '1.0'
  contact: {}
servers:
- url: https://api.epicdirectories.com
  description: Production
- url: http://localhost:3333
  description: Local development
tags:
- name: Public
paths:
  /public/v1/directories/{directory}:
    get:
      operationId: PublicApiController_getDirectory
      summary: Get directory configuration and schema
      parameters:
      - name: Idempotency-Key
        in: header
        description: Optional. Send a unique key per logical operation to make retries safe. 1-256 characters, and **only** letters, digits, `-` and `_` — colons and other separators are rejected with 400. A retry with the same key replays the original response (status + body) instead of re-executing. Cached for 24h. Reusing a key with a different request body returns 409 — note that a timestamp in the body (e.g. `fetchedAt`) turns an otherwise-stable key into a permanent 409, so either omit it (snapshots default it server-side) or fold a payload digest into the key. Skipped on 5xx responses (transient errors should be retried fresh).
        required: false
        schema:
          type: string
      - name: x-api-key
        in: header
        description: API Key for authentication
        required: true
        schema:
          type: string
      - name: directory
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: Directory details with taxonomies and attribute templates
        '401':
          description: Missing or invalid X-API-Key
        '404':
          description: Directory not found or out of API key scope
      tags:
      - Public
      security:
      - apiKey: []
    patch:
      operationId: PublicApiController_updateDirectory
      summary: Update directory configuration
      description: 'Requires `write`. Covers `name`, `listingTypes` and the four `submissionPolicy` switches.


        Added because `listingTypes` was settable only through the Clerk admin surface, so an integration that could provision its own taxonomies, attribute templates and listings still had to stop and ask a human to declare the listing type those listings would use. `submissionPolicy` joined it on 2026-10-01 for the same reason: a headless consumer could not open page comments or close reviews on its own directory.


        PATCH semantics — an absent field is left alone. The two object fields differ, so read this twice: `listingTypes` REPLACES the whole map, so send every type you want to keep, whereas `submissionPolicy` is MERGED, so an absent switch keeps its value and undeclared keys such as `rejectionReasons` survive.


        `slug`, `domain` and the other `*Policy` fields are deliberately NOT settable here; see UpdatePublicDirectoryDto for why.'
      parameters:
      - name: Idempotency-Key
        in: header
        description: Optional. Send a unique key per logical operation to make retries safe. 1-256 characters, and **only** letters, digits, `-` and `_` — colons and other separators are rejected with 400. A retry with the same key replays the original response (status + body) instead of re-executing. Cached for 24h. Reusing a key with a different request body returns 409 — note that a timestamp in the body (e.g. `fetchedAt`) turns an otherwise-stable key into a permanent 409, so either omit it (snapshots default it server-side) or fold a payload digest into the key. Skipped on 5xx responses (transient errors should be retried fresh).
        required: false
        schema:
          type: string
      - name: x-api-key
        in: header
        description: API Key for authentication
        required: true
        schema:
          type: string
      - name: directory
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePublicDirectoryDto'
      responses:
        '200':
          description: Directory updated
        '400':
          description: Malformed listingTypes
        '403':
          description: Key lacks the `write` scope
        '409':
          description: Removing a listing type that still has listings. Body lists each type and its count.
      tags:
      - Public
      security:
      - apiKey: []
  /public/v1/me:
    get:
      operationId: PublicApiController_describeKey
      summary: Describe this API key
      description: 'What the key can reach: its account, its scopes, and the directories in range. `scopes: null` means **unrestricted** (a legacy key issued before scopes existed) and is reported verbatim rather than flattened into a list.


        Added because there was previously no way to discover either: callers guessed directory slugs until one returned 200, and probed a deliberately-missing term to tell 403 from 404.'
      parameters:
      - name: Idempotency-Key
        in: header
        description: Optional. Send a unique key per logical operation to make retries safe. 1-256 characters, and **only** letters, digits, `-` and `_` — colons and other separators are rejected with 400. A retry with the same key replays the original response (status + body) instead of re-executing. Cached for 24h. Reusing a key with a different request body returns 409 — note that a timestamp in the body (e.g. `fetchedAt`) turns an otherwise-stable key into a permanent 409, so either omit it (snapshots default it server-side) or fold a payload digest into the key. Skipped on 5xx responses (transient errors should be retried fresh).
        required: false
        schema:
          type: string
      - name: x-api-key
        in: header
        description: API Key for authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Account, scopes and reachable directories
        '401':
          description: Missing or invalid X-API-Key
      tags:
      - Public
      security:
      - apiKey: []
  /public/v1/directories/{directory}/taxonomies:
    post:
      operationId: PublicApiController_createTaxonomy
      summary: Create a taxonomy
      description: Requires `write`. Returns 409 with the existing record if the slug is taken, so the caller can switch to using it instead of round-tripping to find out.
      parameters:
      - name: Idempotency-Key
        in: header
        description: Optional. Send a unique key per logical operation to make retries safe. 1-256 characters, and **only** letters, digits, `-` and `_` — colons and other separators are rejected with 400. A retry with the same key replays the original response (status + body) instead of re-executing. Cached for 24h. Reusing a key with a different request body returns 409 — note that a timestamp in the body (e.g. `fetchedAt`) turns an otherwise-stable key into a permanent 409, so either omit it (snapshots default it server-side) or fold a payload digest into the key. Skipped on 5xx responses (transient errors should be retried fresh).
        required: false
        schema:
          type: string
      - name: x-api-key
        in: header
        description: API Key for authentication
        required: true
        schema:
          type: string
      - name: directory
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTaxonomyDto'
      responses:
        '201':
          description: Taxonomy created
        '403':
          description: Key lacks the `write` scope
        '409':
          description: Slug already used in this directory
      tags:
      - Public
      security:
      - apiKey: []
    get:
      operationId: PublicApiController_listTaxonomies
      summary: List this directory's taxonomies
      description: 'No scope required — taxonomies are schema, and `GET /export` already hands every one of them to any key on the directory.


        Returns each taxonomy with a `termCount`, not its terms. `GET .../taxonomies/:taxonomy/terms` serves those and paginates; inlining them would make the cost of listing four taxonomies depend on the size of the largest, which on a directory with a 9,000-term geography taxonomy is the difference between an index and a timeout.'
      parameters:
      - name: Idempotency-Key
        in: header
        description: Optional. Send a unique key per logical operation to make retries safe. 1-256 characters, and **only** letters, digits, `-` and `_` — colons and other separators are rejected with 400. A retry with the same key replays the original response (status + body) instead of re-executing. Cached for 24h. Reusing a key with a different request body returns 409 — note that a timestamp in the body (e.g. `fetchedAt`) turns an otherwise-stable key into a permanent 409, so either omit it (snapshots default it server-side) or fold a payload digest into the key. Skipped on 5xx responses (transient errors should be retried fresh).
        required: false
        schema:
          type: string
      - name: x-api-key
        in: header
        description: API Key for authentication
        required: true
        schema:
          type: string
      - name: directory
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: Taxonomies, ordered by slug
      tags:
      - Public
      security:
      - apiKey: []
  /public/v1/directories/{directory}/taxonomies/{taxonomy}/terms:
    post:
      operationId: PublicApiController_createTerm
      summary: Create a taxonomy term
      description: 'Requires `write`. **This completes the `resolve-batch` loop** — the docs there describe looping `unmapped` values to create terms or extend synonyms, which was previously impossible with a public key because term creation was admin-only.


        **Nest with `parentSlug`.** `parentTermId` is also accepted for the keys already using it, but no public route returns a term id, so a slug is the only parent reference a caller can actually obtain from this surface. Sending both is a 400. Either way the parent must belong to the same taxonomy.


        Note this route does NOT require the taxonomy to be `hierarchical`, while PATCH does — an asymmetry that predates `parentSlug` and is left as-is rather than tightened under a key that may be relying on it.


        `metadata` carries the conventional `synonyms` array that `resolve` matches against.'
      parameters:
      - name: Idempotency-Key
        in: header
        description: Optional. Send a unique key per logical operation to make retries safe. 1-256 characters, and **only** letters, digits, `-` and `_` — colons and other separators are rejected with 400. A retry with the same key replays the original response (status + body) instead of re-executing. Cached for 24h. Reusing a key with a different request body returns 409 — note that a timestamp in the body (e.g. `fetchedAt`) turns an otherwise-stable key into a permanent 409, so either omit it (snapshots default it server-side) or fold a payload digest into the key. Skipped on 5xx responses (transient errors should be retried fresh).
        required: false
        schema:
          type: string
      - name: x-api-key
        in: header
        description: API Key for authentication
        required: true
        schema:
          type: string
      - name: directory
        required: true
        in: path
        schema:
          type: string
      - name: taxonomy
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicCreateTermDto'
      responses:
        '201':
          description: Term created
        '400':
          description: Parent not found in this taxonomy, or both `parentSlug` and `parentTermId` sent
        '403':
          description: Key lacks the `write` scope
        '409':
          description: Term slug already used in this taxonomy
      tags:
      - Public
      security:
      - apiKey: []
    get:
      operationId: PublicApiController_listTaxonomyTerms
      summary: List a taxonomy's terms, with a listing count each
      description: 'The read half of the term API, which was missing. This surface has had term POST, PATCH and DELETE since taxonomy writes shipped, and no GET of any kind — so a term could be created and updated but never listed, and the only way to see what a taxonomy contained was to pull the whole directory root. Convention Grid hit exactly that reworking 66 industry terms.


        **`listingCount` respects your key.** A key without `read:drafts` gets the count of listings it can actually fetch — published, plus drafts whose `publishAt` has passed — and `listingCountIncludesDrafts` says which you were given. This matters more than it sounds: CourseAlmanac holds 14,470 listings and one published, so an unscoped count would render "Golf Courses (14,470)" above a list of one.


        **`parentSlug`, not `parentTermId`.** Slugs are what every other identifier on this surface is, and needing the parent''s UUID is why nesting a term currently takes a second call. `childSlugs` is the same hierarchy from the other side, so a tree can be built without a second pass.


        **Not paginated.** A taxonomy is an operator-curated set: the largest on the platform holds 141 terms and all of them together hold 614. The directory root already returns every term in one payload.


        **To list the listings tagged with a term, use `GET /directories/{directory}/listings?terms={slug}`** — that already exists and takes comma-separated slugs (matching ANY of them).'
      parameters:
      - name: Idempotency-Key
        in: header
        description: Optional. Send a unique key per logical operation to make retries safe. 1-256 characters, and **only** letters, digits, `-` and `_` — colons and other separators are rejected with 400. A retry with the same key replays the original response (status + body) instead of re-executing. Cached for 24h. Reusing a key with a different request body returns 409 — note that a timestamp in the body (e.g. `fetchedAt`) turns an otherwise-stable key into a permanent 409, so either omit it (snapshots default it server-side) or fold a payload digest into the key. Skipped on 5xx responses (transient errors should be retried fresh).
        required: false
        schema:
          type: string
      - name: x-api-key
        in: header
        description: API Key for authentication
        required: true
        schema:
          type: string
      - name: directory
        required: true
        in: path
        schema:
          type: string
      - name: taxonomy
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: The taxonomy and all of its terms
        '401':
          description: Missing or invalid X-API-Key
        '404':
          description: Directory or taxonomy not found
      tags:
      - Public
      security:
      - apiKey: []
  /public/v1/directories/{directory}/turnstile:
    get:
      operationId: PublicApiController_getTurnstile
      summary: Which Turnstile widget verifies this directory's public forms
      description: 'Reports the credentials IN EFFECT, which may be the shared platform widget rather than this directory''s own. `configured: false` with `source: "platform"` is the state worth acting on: that widget issues tokens only on hostnames registered against it, and on any other host the anonymous write endpoints accept every submission and record it as `spam` behind the same 202 they always return. Nothing fails visibly.


        Needs no scope beyond a valid key — the site key is already published in `GET /export` and ships in the HTML of every page carrying the widget. No part of the secret is returned here, unlike the admin route: this surface cannot rotate one, so it has no reason to confirm a rotation.'
      parameters:
      - name: Idempotency-Key
        in: header
        description: Optional. Send a unique key per logical operation to make retries safe. 1-256 characters, and **only** letters, digits, `-` and `_` — colons and other separators are rejected with 400. A retry with the same key replays the original response (status + body) instead of re-executing. Cached for 24h. Reusing a key with a different request body returns 409 — note that a timestamp in the body (e.g. `fetchedAt`) turns an otherwise-stable key into a permanent 409, so either omit it (snapshots default it server-side) or fold a payload digest into the key. Skipped on 5xx responses (transient errors should be retried fresh).
        required: false
        schema:
          type: string
      - name: x-api-key
        in: header
        description: API Key for authentication
        required: true
        schema:
          type: string
      - name: directory
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: Current Turnstile configuration
        '401':
          description: Missing or invalid X-API-Key
        '404':
          description: Directory not found or out of API key scope
      tags:
      - Public
      security:
      - apiKey: []
  /public/v1/directories/{directory}/turnstile/provision:
    post:
      operationId: PublicApiController_provisionTurnstile
      summary: Create or reconcile this directory's own Turnstile widget
      description: 'Requires `write`. Gives the directory a widget of its own on the EpicDirectories Cloudflare account, registered against the `domain` recorded on the directory plus that domain''s `www` alias, and starts serving its site key from `GET /export`. Your next build renders a key that works on your hostname instead of the platform one, which does not.


        Normally nothing needs to call this: an operator recording the `domain` provisions it. It is here for the cases that need a nudge — a directory whose domain predates provisioning, or one whose hostname list was edited in the Cloudflare dashboard and has drifted. It always re-sends the hostname list rather than trusting our own record of it.


        Idempotent, and safe to put in a deploy pipeline: a widget already covering the right hostnames is `unchanged` and costs no Cloudflare call. It refuses to touch a widget registered by hand (`skipped-manual`), and a directory with no `domain` recorded comes back `skipped-no-domain` — ask an operator to record one, as that field is not settable with a key.


        The new widget does NOT reach your visitors until you rebuild. Until then the API verifies against the new secret while your pages still render the old site key, and submissions in between are recorded as spam — so rebuild straight after calling this.'
      parameters:
      - name: Idempotency-Key
        in: header
        description: Optional. Send a unique key per logical operation to make retries safe. 1-256 characters, and **only** letters, digits, `-` and `_` — colons and other separators are rejected with 400. A retry with the same key replays the original response (status + body) instead of re-executing. Cached for 24h. Reusing a key with a different request body returns 409 — note that a timestamp in the body (e.g. `fetchedAt`) turns an otherwise-stable key into a permanent 409, so either omit it (snapshots default it server-side) or fold a payload digest into the key. Skipped on 5xx responses (transient errors should be retried fresh).
        required: false
        schema:
          type: string
      - name: x-api-key
        in: header
        description: API Key for authentication
        required: true
        schema:
          type: string
      - name: directory
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: What was done, plus the same shape as GET
        '401':
          description: Missing or invalid X-API-Key
        '403':
          description: Key lacks the `write` scope
        '404':
          description: Directory not found or out of API key scope
        '503':
          description: Cloudflare could not be used, and nothing was changed. The message is the one to act on; it is usually ours to fix, not yours.
      tags:
      - Public
      security:
      - apiKey: []
  /public/v1/directories/{directory}/attribute-templates:
    post:
      operationId: PublicApiController_createAttributeTemplate
      summary: Create an attribute template
      description: 'Requires `write`. Without this, `PUT .../attributes` rejects every key as unknown, so a public-key integration could never use typed, filterable or sortable attributes and was forced to put everything in free-form `canonicalFields` — where recipes cannot scope on it.


        Uniqueness is per `(directory, listingType, key)`. A null `listingType` means "applies to every type" and can coexist with a same-key type-scoped template, matching how attribute resolution works on write.'
      parameters:
      - name: Idempotency-Key
        in: header
        description: Optional. Send a unique key per logical operation to make retries safe. 1-256 characters, and **only** letters, digits, `-` and `_` — colons and other separators are rejected with 400. A retry with the same key replays the original response (status + body) instead of re-executing. Cached for 24h. Reusing a key with a different request body returns 409 — note that a timestamp in the body (e.g. `fetchedAt`) turns an otherwise-stable key into a permanent 409, so either omit it (snapshots default it server-side) or fold a payload digest into the key. Skipped on 5xx responses (transient errors should be retried fresh).
        required: false
        schema:
          type: string
      - name: x-api-key
        in: header
        description: API Key for authentication
        required: true
        schema:
          type: string
      - name: directory
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAttributeTemplateDto'
      responses:
        '201':
          description: Attribute template created
        '403':
          description: Key lacks the `write` scope
        '409':
          description: Key already defined for this listingType
      tags:
      - Public
      security:
      - apiKey: []
    get:
      operationId: PublicApiController_listAttributeTemplates
      summary: List attribute templates
      description: 'No scope required — templates are schema, and `GET /export` already hands every one of them to any key on the directory. Gating the dedicated read while the bulk read is open would protect nothing and cost a caller a 40 MB export to answer "what fields exist".


        `listingType` filters the way attribute RESOLUTION works, not the way the column reads: it returns the type-scoped templates **plus** the type-agnostic ones, which together are exactly the keys `PUT .../attributes` will accept on a listing of that type.'
      parameters:
      - name: Idempotency-Key
        in: header
        description: Optional. Send a unique key per logical operation to make retries safe. 1-256 characters, and **only** letters, digits, `-` and `_` — colons and other separators are rejected with 400. A retry with the same key replays the original response (status + body) instead of re-executing. Cached for 24h. Reusing a key with a different request body returns 409 — note that a timestamp in the body (e.g. `fetchedAt`) turns an otherwise-stable key into a permanent 409, so either omit it (snapshots default it server-side) or fold a payload digest into the key. Skipped on 5xx responses (transient errors should be retried fresh).
        required: false
        schema:
          type: string
      - name: x-api-key
        in: header
        description: API Key for authentication
        required: true
        schema:
          type: string
      - name: directory
        required: true
        in: path
        schema:
          type: string
      - name: listingType
        required: false
        in: query
        description: Templates applicable to this listing type, including type-agnostic ones.
        schema:
          type: string
      responses:
        '200':
          description: Templates, ordered by listingType then key
      tags:
      - Public
      security:
      - apiKey: []
  /public/v1/directories/{directory}/attribute-templates/{template}:
    get:
      operationId: PublicApiController_getAttributeTemplate
      summary: Get one attribute template
      description: 'No scope required, for the reason the list route gives.


        `:template` is **either** the template id **or** its `key`. The key form is the one worth using: a consumer that defined `square_footage` knows that name, and should not have to store our uuids to address it again — the same reasoning that makes every listing path here `(listingType, slug)`.


        When you address by key, `?listingType=` picks the scope. **Omitting it means the type-agnostic template specifically, not "whichever one exists".** One key can hold two templates — one scoped to a listing type, one applying to all of them — because the uniqueness constraint has a nullable column in it. A 404 here tells you if the key exists under another scope.'
      parameters:
      - name: Idempotency-Key
        in: header
        description: Optional. Send a unique key per logical operation to make retries safe. 1-256 characters, and **only** letters, digits, `-` and `_` — colons and other separators are rejected with 400. A retry with the same key replays the original response (status + body) instead of re-executing. Cached for 24h. Reusing a key with a different request body returns 409 — note that a timestamp in the body (e.g. `fetchedAt`) turns an otherwise-stable key into a permanent 409, so either omit it (snapshots default it server-side) or fold a payload digest into the key. Skipped on 5xx responses (transient errors should be retried fresh).
        required: false
        schema:
          type: string
      - name: x-api-key
        in: header
        description: API Key for authentication
        required: true
        schema:
          type: string
      - name: directory
        required: true
        in: path
        schema:
          type: string
      - name: template
        required: true
        in: path
        schema:
          type: string
      - name: listingType
        required: false
        in: query
        description: Scope to address, when using a key.
        schema:
          type: string
      responses:
        '200':
          description: The template
        '404':
          description: No such template in this scope; the body names where the key does exist
      tags:
      - Public
      security:
      - apiKey: []
    patch:
      operationId: PublicApiController_updateAttributeTemplate
      summary: Update an attribute template
      description: 'Requires `write`. Addressed by id or `key` exactly as the GET above, `?listingType=` and all.


        `key` and `listingType` are **not** settable. Both are part of the identity every stored value was written against and every consumer build reads by name, so moving either is a rename — and renames on this platform get aliases or they get refused. Delete and recreate if that is really the intent.


        Changing `type` is allowed and does **not** rewrite stored values: a `number` turned `enum` leaves numbers sitting behind a vocabulary that does not list them. The admin UI has always allowed this and no read path coerces, so this is not narrower than the UI — but it is worth knowing before doing it to 30,000 listings.


        An empty body is a no-op: it returns the template unchanged and fires nothing, rather than bumping `updatedAt` and rebuilding a consumer site for a request that changed nothing.'
      parameters:
      - name: Idempotency-Key
        in: header
        description: Optional. Send a unique key per logical operation to make retries safe. 1-256 characters, and **only** letters, digits, `-` and `_` — colons and other separators are rejected with 400. A retry with the same key replays the original response (status + body) instead of re-executing. Cached for 24h. Reusing a key with a different request body returns 409 — note that a timestamp in the body (e.g. `fetchedAt`) turns an otherwise-stable key into a permanent 409, so either omit it (snapshots default it server-side) or fold a payload digest into the key. Skipped on 5xx responses (transient errors should be retried fresh).
        required: false
        schema:
          type: string
      - name: x-api-key
        in: header
        description: API Key for authentication
        required: true
        schema:
          type: string
      - name: directory
        required: true
        in: path
        schema:
          type: string
      - name: template
        required: true
        in: path
        schema:
          type: string
      - name: listingType
        required: false
        in: query
        description: Scope to address, when using a key.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAttributeTemplateDto'
      responses:
        '200':
          description: The updated template
        '403':
          description: Key lacks the `write` scope
        '404':
          description: No such template in this scope
      tags:
      - Public
      security:
      - apiKey: []
    delete:
      operationId: PublicApiController_deleteAttributeTemplate
      summary: Delete an attribute template
      description: 'Requires `write`. Addressed by id or `key`, with `?listingType=` as above.


        **This deletes every value any listing holds for the template.** The foreign key cascades, so one DELETE on a 31,000-listing directory can destroy 31,000 rows, and nothing restores them — `/export` is the only copy and it is yours, not ours.


        So a template that still has values is refused with **409 and the count**; re-send with `?force=true` to confirm the number was expected. A template with no values deletes with no flag, which is the usual case — removing seeded fields a directory never populated needs no ceremony, and a confirmation flag you always send protects nobody.


        The response reports `valuesDeleted`, so a caller who forced it learns the cost rather than reconstructing it from a diff of two exports.'
      parameters:
      - name: Idempotency-Key
        in: header
        description: Optional. Send a unique key per logical operation to make retries safe. 1-256 characters, and **only** letters, digits, `-` and `_` — colons and other separators are rejected with 400. A retry with the same key replays the original response (status + body) instead of re-executing. Cached for 24h. Reusing a key with a different request body returns 409 — note that a timestamp in the body (e.g. `fetchedAt`) turns an otherwise-stable key into a permanent 409, so either omit it (snapshots default it server-side) or fold a payload digest into the key. Skipped on 5xx responses (transient errors should be retried fresh).
        required: false
        schema:
          type: string
      - name: x-api-key
        in: header
        description: API Key for authentication
        required: true
        schema:
          type: string
      - name: directory
        required: true
        in: path
        schema:
          type: string
      - name: template
        required: true
        in: path
        schema:
          type: string
      - name: listingType
        required: false
        in: query
        description: Scope to address, when using a key.
        schema:
          type: string
      - name: force
        required: false
        in: query
        description: Set `true` to delete a template that still holds values, and those values with it.
        schema:
          type: string
      responses:
        '200':
          description: Deleted; body reports how many values went with it
        '403':
          description: Key lacks the `write` scope
        '404':
          description: No such template in this scope
        '409':
          description: Template still holds values and `force` was not set
      tags:
      - Public
      security:
      - apiKey: []
  /public/v1/directories/{directory}/listings/{listingType}/{listingSlug}:
    delete:
      operationId: PublicApiController_archiveListing
      summary: Archive a listing (soft delete)
      description: 'Requires `write`. Sets `status: archived`, which removes the listing from every public read — those already gate on published-or-scheduled — while **retaining snapshots, attributes, terms and media**.


        Deliberately not a hard delete: every child of Listing cascades, `SourceSnapshot` included, so a real DELETE would destroy the evidence locker.


        Restore by PATCHing `status` back. **The slug stays reserved** — reversibility and slug reuse are mutually exclusive, and reversibility is the point. Use this to clean up smoke tests without leaving permanent clutter.'
      parameters:
      - name: Idempotency-Key
        in: header
        description: Optional. Send a unique key per logical operation to make retries safe. 1-256 characters, and **only** letters, digits, `-` and `_` — colons and other separators are rejected with 400. A retry with the same key replays the original response (status + body) instead of re-executing. Cached for 24h. Reusing a key with a different request body returns 409 — note that a timestamp in the body (e.g. `fetchedAt`) turns an otherwise-stable key into a permanent 409, so either omit it (snapshots default it server-side) or fold a payload digest into the key. Skipped on 5xx responses (transient errors should be retried fresh).
        required: false
        schema:
          type: string
      - name: x-api-key
        in: header
        description: API Key for authentication
        required: true
        schema:
          type: string
      - name: directory
        required: true
        in: path
        schema:
          type: string
      - name: listingType
        required: true
        in: path
        schema:
          type: string
      - name: listingSlug
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: Archived; restorable
        '403':
          description: Key lacks the `write` scope
        '404':
          description: Listing not found
      tags:
      - Public
      security:
      - apiKey: []
    get:
      operationId: PublicApiController_getListingByTypeSlug
      summary: Get a listing unambiguously by type + slug
      description: For ingestion agents checking existence before write. Read-only keys without read:drafts see only published listings here; keys holding write or read:drafts see any status.
      parameters:
      - name: Idempotency-Key
        in: header
        description: Optional. Send a unique key per logical operation to make retries safe. 1-256 characters, and **only** letters, digits, `-` and `_` — colons and other separators are rejected with 400. A retry with the same key replays the original response (status + body) instead of re-executing. Cached for 24h. Reusing a key with a different request body returns 409 — note that a timestamp in the body (e.g. `fetchedAt`) turns an otherwise-stable key into a permanent 409, so either omit it (snapshots default it server-side) or fold a payload digest into the key. Skipped on 5xx responses (transient errors should be retried fresh).
        required: false
        schema:
          type: string
      - name: x-api-key
        in: header
        description: API Key for authentication
        required: true
        schema:
          type: string
      - name: directory
        required: true
        in: path
        schema:
          type: string
      - name: listingType
        required: true
        in: path
        schema:
          type: string
      - name: listingSlug
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: Listing found
        '404':
          description: Listing not found (or visible only with read:drafts)
      tags:
      - Public
      security:
      - apiKey: []
    patch:
      operationId: PublicApiController_updateListing
      summary: Update a listing by type + slug (including renaming its slug)
      description: 'Slug is the idempotency key — agents should use deterministic slugs and rely on POST→409→PATCH or check existence with the corresponding GET first.


        **JSON columns are full-replace.** `editorialFields`, `canonicalFields`, and `geo` each replace the entire stored object when present in the body. Sending `{ editorialFields: { seoTitle: "X" } }` wipes description and every other editorial key. To partially update, GET the listing first, spread the existing object, then PATCH with the merged result. The `taxonomies` field is the exception — it does per-taxonomy replace (taxonomies you don''t list are untouched).


        **Renaming.** Send `slug` to move a listing. The old address is kept as an alias, so every read that used it — this endpoint, the untyped GET, `/listings/batch`, and the media and snapshot routes hanging off it — keeps resolving, and answers with the NEW slug. The response echoes `previousSlug`, and `listing.updated` carries it too, so a consumer can publish a 301 without re-reading anything. `GET .../listing-aliases` returns the whole redirect map.


        `listingType` remains immutable — it is half a listing''s identity, and moving a row between type-scoped namespaces would invalidate its parent links and attribute templates.'
      parameters:
      - name: Idempotency-Key
        in: header
        description: Optional. Send a unique key per logical operation to make retries safe. 1-256 characters, and **only** letters, digits, `-` and `_` — colons and other separators are rejected with 400. A retry with the same key replays the original response (status + body) instead of re-executing. Cached for 24h. Reusing a key with a different request body returns 409 — note that a timestamp in the body (e.g. `fetchedAt`) turns an otherwise-stable key into a permanent 409, so either omit it (snapshots default it server-side) or fold a payload digest into the key. Skipped on 5xx responses (transient errors should be retried fresh).
        required: false
        schema:
          type: string
      - name: x-api-key
        in: header
        description: API Key for authentication
        required: true
        schema:
          type: string
      - name: directory
        required: true
        in: path
        schema:
          type: string
      - name: listingType
        required: true
        in: path
        schema:
          type: string
      - name: listingSlug
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePublicListingDto'
      responses:
        '200':
          description: Listing updated. Includes `previousSlug` when the slug moved.
        '404':
          description: Listing not found
        '409':
          description: The requested slug is taken — either by a live listing, or reserved as another listing's former address. The body names the holder.
      tags:
      - Public
      security:
      - apiKey: []
  /public/v1/directories/{directory}/export:
    get:
      operationId: PublicApiController_exportDirectory
      summary: Full-directory export for static-site builds
      description: 'Everything a build needs in one call: directory config + listingTypes, attribute templates, taxonomies with all terms (including `metadata.synonyms`), recipes, and listings with their attributes, terms, and **all** ready media (the browse endpoints cap media at 5 per listing).


        **Keyset pagination, not offset.** Loop until `pagination.nextCursor` is null, passing it back as `?cursor=`. Offset pagination is wrong here: an export can run for many seconds while writes land, and a shifting ordering key would silently skip or duplicate rows. Ordered by `id` ascending.


        Default page size 500, max 1000 — larger than the 100 cap on browse endpoints because this is a build-time bulk pull. The fixed sections (directory, schema, taxonomies, recipes) repeat on every page so each page is independently usable; pass `listings=false` to fetch only those, e.g. to generate routes before pulling content.


        Each media row carries `source` + `sourceRef`, the same provenance pair `GET .../media` returns, so a build can join our delivery copies back to its own catalogue in one bulk pull. `sourceRef` holds the external URL the asset was created from, **except** when `source` is `upload` or `screenshot` — those two are rewritten with an internal R2 object key once the bytes are stored, and only those two. Treat it as a denylist, not an allowlist: `source` is free-form (see POST .../media), so callers set their own values like `official_site`, and an allowlist of known sources silently skips them. Do not sniff whether the value looks like a URL either — branch on `source`.


        Each listing carries `websiteUrl`: its own site, resolved server-side, or `null`. Prefer it over reading `canonicalFields` yourself — the value lives under one of several keys (`website`, `url`, `homepage`, `organizerWebsite`) and a `series_of` child inherits its series'', which you cannot reproduce from this response because it carries `parentSlug` rather than the parent''s fields. It is also the URL our probes fetched, so a `site-dead` screening term is a verdict about this link and no other.


        Unpublished listings require the `read:drafts` scope, same as every other read.'
      parameters:
      - name: Idempotency-Key
        in: header
        description: Optional. Send a unique key per logical operation to make retries safe. 1-256 characters, and **only** letters, digits, `-` and `_` — colons and other separators are rejected with 400. A retry with the same key replays the original response (status + body) instead of re-executing. Cached for 24h. Reusing a key with a different request body returns 409 — note that a timestamp in the body (e.g. `fetchedAt`) turns an otherwise-stable key into a permanent 409, so either omit it (snapshots default it server-side) or fold a payload digest into the key. Skipped on 5xx responses (transient errors should be retried fresh).
        required: false
        schema:
          type: string
      - name: x-api-key
        in: header
        description: API Key for authentication
        required: true
        schema:
          type: string
      - name: directory
        required: true
        in: path
        schema:
          type: string
      - name: limit
        required: false
        in: query
        description: Listings per page (default 500, max 1000)
        schema:
          type: number
      - name: cursor
        required: false
        in: query
        description: Listing id from a previous response's `pagination.nextCursor`
        schema:
          type: string
      - name: listings
        required: false
        in: query
        description: Set to `false` to omit listings and return only config/schema/taxonomies/recipes
        schema:
          type: string
      - name: fields
        required: false
        in: query
        description: Comma-separated dotted paths to project on each listing (e.g. `slug,title,geo.city`). Applies to listings only — the fixed schema sections come back whole.
        schema:
          type: string
      responses:
        '200':
          description: Directory export page
        '401':
          description: Missing or invalid X-API-Key
        '404':
          description: Directory not found or out of API key scope
      tags:
      - Public
      security:
      - apiKey: []
  /public/v1/directories/{directory}/listings:
    get:
      operationId: PublicApiController_getListings
      summary: List published listings
      parameters:
      - name: Idempotency-Key
        in: header
        description: Optional. Send a unique key per logical operation to make retries safe. 1-256 characters, and **only** letters, digits, `-` and `_` — colons and other separators are rejected with 400. A retry with the same key replays the original response (status + body) instead of re-executing. Cached for 24h. Reusing a key with a different request body returns 409 — note that a timestamp in the body (e.g. `fetchedAt`) turns an otherwise-stable key into a permanent 409, so either omit it (snapshots default it server-side) or fold a payload digest into the key. Skipped on 5xx responses (transient errors should be retried fresh).
        required: false
        schema:
          type: string
      - name: x-api-key
        in: header
        description: API Key for authentication
        required: true
        schema:
          type: string
      - name: directory
        required: true
        in: path
        schema:
          type: string
      - name: listingType
        required: false
        in: query
        schema:
          type: string
      - name: status
        required: false
        in: query
        description: Filter by lifecycle status. `published` also matches drafts whose `publishAt` has passed, matching how every other read path treats scheduled publishing. Any other value requires the `read:drafts` scope and is matched exactly. Omit to get everything your key may see.
        schema:
          type: string
      - name: limit
        required: false
        in: query
        description: Page size, capped at 100. A larger value is clamped, and `pagination.limit` reports the limit APPLIED — so `offset += pagination.limit` is always correct. It previously echoed the requested value, which made that loop skip every other page.
        schema:
          type: number
      - name: offset
        required: false
        in: query
        schema:
          type: number
      - name: terms
        required: false
        in: query
        description: Comma-separated taxonomy term slugs
        schema:
          type: string
      - name: fields
        required: false
        in: query
        description: Comma-separated dotted paths to project (e.g. `slug,title,canonicalFields.address`). When set, response items contain only the requested paths — saves bandwidth on large payloads.
        schema:
          type: string
      - name: q
        required: false
        in: query
        description: Free-text search. Case-insensitive substring match against **title, slug, or the listing's URL** — after an import the slug is often the only handle you have, and every site-probe report identifies a listing by host. A URL query is folded to a hostname (scheme and `www.` stripped) before matching.
        schema:
          type: string
      - name: city
        required: false
        in: query
        description: Exact match against `geo.city`. Combines with the other place filters as AND.
        schema:
          type: string
      - name: admin1
        required: false
        in: query
        description: Exact match against `geo.admin1` — state or equivalent, e.g. `TX`. Combines as AND.
        schema:
          type: string
      - name: country
        required: false
        in: query
        description: Exact match against `geo.country`. NOT normalised across directories — some store `US`, others `United States` — so filter with the value your own data uses.
        schema:
          type: string
      - name: postalCode
        required: false
        in: query
        description: Exact match against `geo.postalCode`. Combines as AND.
        schema:
          type: string
      - name: featured
        required: false
        in: query
        description: '`true` returns only premium (boosted) listings, `false` only unboosted ones. Omit for both — the default ordering is unchanged either way, so a boost never silently reorders an existing consumer''s results.'
        schema:
          type: string
      responses:
        '200':
          description: Paginated list of listings
        '400':
          description: Unknown query parameter. Rejected rather than ignored — a silently dropped filter returns data that looks correctly scoped and is not. The body lists `unknownParams` and `allowedParams`.
        '401':
          description: Missing or invalid X-API-Key
        '403':
          description: status filter other than `published` without `read:drafts`
        '404':
          description: Directory not found or out of API key scope
      tags:
      - Public
      security:
      - apiKey: []
    post:
      operationId: PublicApiController_createListing
      summary: Create a listing in this directory
      parameters:
      - name: Idempotency-Key
        in: header
        description: Optional. Send a unique key per logical operation to make retries safe. 1-256 characters, and **only** letters, digits, `-` and `_` — colons and other separators are rejected with 400. A retry with the same key replays the original response (status + body) instead of re-executing. Cached for 24h. Reusing a key with a different request body returns 409 — note that a timestamp in the body (e.g. `fetchedAt`) turns an otherwise-stable key into a permanent 409, so either omit it (snapshots default it server-side) or fold a payload digest into the key. Skipped on 5xx responses (transient errors should be retried fresh).
        required: false
        schema:
          type: string
      - name: x-api-key
        in: header
        description: API Key for authentication
        required: true
        schema:
          type: string
      - name: directory
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePublicListingDto'
      responses:
        '201':
          description: Listing created
        '409':
          description: A listing with this listingType + slug already exists. Response includes the existing listing summary so the caller can switch to PATCH.
      tags:
      - Public
      security:
      - apiKey: []
  /public/v1/directories/{directory}/listings/bulk:
    get:
      operationId: PublicApiController_getListingsBulk
      summary: Bulk fetch all published listings for SSG / static builds
      description: Returns up to 5000 listings in a single response, no pagination. Use ?listingType to filter, ?since=ISO_DATE to fetch only records updated after that timestamp (incremental builds). For UI/runtime use the paginated /listings endpoint instead.
      parameters:
      - name: Idempotency-Key
        in: header
        description: Optional. Send a unique key per logical operation to make retries safe. 1-256 characters, and **only** letters, digits, `-` and `_` — colons and other separators are rejected with 400. A retry with the same key replays the original response (status + body) instead of re-executing. Cached for 24h. Reusing a key with a different request body returns 409 — note that a timestamp in the body (e.g. `fetchedAt`) turns an otherwise-stable key into a permanent 409, so either omit it (snapshots default it server-side) or fold a payload digest into the key. Skipped on 5xx responses (transient errors should be retried fresh).
        required: false
        schema:
          type: string
      - name: x-api-key
        in: header
        description: API Key for authentication
        required: true
        schema:
          type: string
      - name: directory
        required: true
        in: path
        schema:
          type: string
      - name: listingType
        required: false
        in: query
        schema:
          type: string
      - name: since
        required: false
        in: query
        description: ISO 8601 datetime — only records with updatedAt >= since
        schema:
          type: string
      - name: cap
        required: false
        in: query
        description: Max records (default + cap = 5000)
        schema:
          type: number
      - name: fields
        required: false
        in: query
        description: Comma-separated dotted paths to project (e.g. `slug,title,canonicalFields.address`). When set, response items contain only the requested paths — typically cuts payload size by 80%+ on bulk fetches.
        schema:
          type: string
      responses:
        '200':
          description: All matching listings, full transform shape
        '401':
          description: Missing or invalid X-API-Key
        '404':
          description: Directory not found or out of API key scope
      tags:
      - Public
      security:
      - apiKey: []
    post:
      operationId: PublicApiController_bulkUpsertListings
      summary: Bulk upsert listings by (listingType, slug)
      description: 'Requires `write`. Up to 500 items per request, upserted on the `(listingType, slug)` unique key — so re-sending the same batch is idempotent.


        **Not to be confused with `POST .../listings/batch`, which is a batch READ.** That naming has cost integrators time; this is the write.


        `attributes` may be sent inline here, unlike on the single-listing create. On the single path `PUT .../attributes` is one extra call; in bulk it is the difference between 2N and N round trips, which is the point of the endpoint.


        **Partial writes are the default.** Every other write in this API refuses them; this one allows them because at 500 items, all-or-nothing means one bad row rejects 499 good ones and you cannot tell which without bisecting. Each item reports `created`, `updated` or `failed` with its own `error`. Pass `atomic: true` to stop at the first failure — note that items already written are NOT rolled back, and the response says how many.


        One webhook fires for the whole request per event kind, carrying `{ bulk: true, count, listingIds }` with ids capped at 100, rather than one per listing.'
      parameters:
      - name: Idempotency-Key
        in: header
        description: Optional. Send a unique key per logical operation to make retries safe. 1-256 characters, and **only** letters, digits, `-` and `_` — colons and other separators are rejected with 400. A retry with the same key replays the original response (status + body) instead of re-executing. Cached for 24h. Reusing a key with a different request body returns 409 — note that a timestamp in the body (e.g. `fetchedAt`) turns an otherwise-stable key into a permanent 409, so either omit it (snapshots default it server-side) or fold a payload digest into the key. Skipped on 5xx responses (transient errors should be retried fresh).
        required: false
        schema:
          type: string
      - name: x-api-key
        in: header
        description: API Key for authentication
        required: true
        schema:
          type: string
      - name: directory
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkUpsertListingsDto'
      responses:
        '200':
          description: Per-item results plus a summary
        '400':
          description: 'More than 500 items, or a failure with atomic: true'
        '403':
          description: Key lacks the `write` scope
        '404':
          description: Directory not found or out of API key scope
      tags:
      - Public
      security:
      - apiKey: []
  /public/v1/directories/{directory}/listings/{listing}:
    get:
      operationId: PublicApiController_getListing
      summary: Get a single listing by slug or ID
      parameters:
      - name: Idempotency-Key
        in: header
        description: Optional. Send a unique key per logical operation to make retries safe. 1-256 characters, and **only** letters, digits, `-` and `_` — colons and other separators are rejected with 400. A retry with the same key replays the original response (status + body) instead of re-executing. Cached for 24h. Reusing a key with a different request body returns 409 — note that a timestamp in the body (e.g. `fetchedAt`) turns an otherwise-stable key into a permanent 409, so either omit it (snapshots default it server-side) or fold a payload digest into the key. Skipped on 5xx responses (transient errors should be retried fresh).
        required: false
        schema:
          type: string
      - name: x-api-key
        in: header
        description: API Key for authentication
        required: true
        schema:
          type: string
      - name: directory
        required: true
        in: path
        schema:
          type: string
      - name: listing
        required: true
        in: path
        schema:
          type: string
      - name: fields
        required: false
        in: query
        description: Comma-separated dotted paths to project (e.g. `slug,title`).
        schema:
          type: string
      responses:
        '200':
          description: Full listing details (with nested children when applicable)
        '401':
          description: Missing or invalid X-API-Key
        '404':
          description: Listing or directory not found
      tags:
      - Public
      security:
      - apiKey: []
  /public/v1/directories/{directory}/recipes:
    get:
      operationId: PublicApiController_listRecipes
      summary: List recipe definitions
      description: 'No scope required — recipes are schema, and `GET /export` already carries every definition to any key on the directory.


        Full definitions, not summaries: a recipe is four small JSON objects, and the caller most likely to list them is one about to PATCH one and needs `scope` in hand to merge into. Ordered by slug rather than newest-first, so two consecutive builds are comparable.


        Note this is the **definitions**, not their results. `GET .../recipes/:recipe` executes.'
      parameters:
      - name: Idempotency-Key
        in: header
        description: Optional. Send a unique key per logical operation to make retries safe. 1-256 characters, and **only** letters, digits, `-` and `_` — colons and other separators are rejected with 400. A retry with the same key replays the original response (status + body) instead of re-executing. Cached for 24h. Reusing a key with a different request body returns 409 — note that a timestamp in the body (e.g. `fetchedAt`) turns an otherwise-stable key into a permanent 409, so either omit it (snapshots default it server-side) or fold a payload digest into the key. Skipped on 5xx responses (transient errors should be retried fresh).
        required: false
        schema:
          type: string
      - name: x-api-key
        in: header
        description: API Key for authentication
        required: true
        schema:
          type: string
      - name: directory
        required: true
        in: path
        schema:
          type: string
      - name: recipeType
        required: false
        in: query
        description: Only recipes of this type.
        schema:
          type: string
      responses:
        '200':
          description: Recipe definitions, ordered by slug
      tags:
      - Public
      security:
      - apiKey: []
    post:
      operationId: PublicApiController_createRecipe
      summary: Create a recipe definition
      description: 'Requires `write`. Until this existed, a key could EXECUTE a recipe and not write one, so every collection page a consumer wanted had to be added by a human in the admin UI first — on the one object in the model that is pure configuration and holds no content at all.


        Slug is unique per directory; a clash returns **409 carrying the existing recipe**, so you can switch to PATCHing it without a round trip to find out which it was.'
      parameters:
      - name: Idempotency-Key
        in: header
        description: Optional. Send a unique key per logical operation to make retries safe. 1-256 characters, and **only** letters, digits, `-` and `_` — colons and other separators are rejected with 400. A retry with the same key replays the original response (status + body) instead of re-executing. Cached for 24h. Reusing a key with a different request body returns 409 — note that a timestamp in the body (e.g. `fetchedAt`) turns an otherwise-stable key into a permanent 409, so either omit it (snapshots default it server-side) or fold a payload digest into the key. Skipped on 5xx responses (transient errors should be retried fresh).
        required: false
        schema:
          type: string
      - name: x-api-key
        in: header
        description: API Key for authentication
        required: true
        schema:
          type: string
      - name: directory
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRecipeDto'
      responses:
        '201':
          description: Recipe created
        '403':
          description: Key lacks the `write` scope
        '409':
          description: Slug already used in this directory
      tags:
      - Public
      security:
      - apiKey: []
  /public/v1/directories/{directory}/recipes/{recipe}/definition:
    get:
      operationId: PublicApiController_getRecipeDefinition
      summary: Read one recipe definition
      description: 'No scope required, for the reason the list route gives. Addressed by slug or id.


        **Why `/definition` and not just `GET .../recipes/:recipe`.** That route already exists and it EXECUTES the recipe — it has since early on, and consumers call it as the executor today. Note this is inverted from `/v1`, where `GET :recipeId` is the definition and `:recipeId/preview` runs it. That asymmetry is not an improvement, it is just what shipped; a route whose meaning changes under a caller is worse than a route with an unlovely name.'
      parameters:
      - name: Idempotency-Key
        in: header
        description: Optional. Send a unique key per logical operation to make retries safe. 1-256 characters, and **only** letters, digits, `-` and `_` — colons and other separators are rejected with 400. A retry with the same key replays the original response (status + body) instead of re-executing. Cached for 24h. Reusing a key with a different request body returns 409 — note that a timestamp in the body (e.g. `fetchedAt`) turns an otherwise-stable key into a permanent 409, so either omit it (snapshots default it server-side) or fold a payload digest into the key. Skipped on 5xx responses (transient errors should be retried fresh).
        required: false
        schema:
          type: string
      - name: x-api-key
        in: header
        description: API Key for authentication
        required: true
        schema:
          type: string
      - name: directory
        required: true
        in: path
        schema:
          type: string
      - name: recipe
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: The recipe definition
        '404':
          description: No such recipe in this directory
      tags:
      - Public
      security:
      - apiKey: []
  /public/v1/directories/{directory}/recipes/{recipe}:
    patch:
      operationId: PublicApiController_updateRecipe
      summary: Update a recipe definition
      description: 'Requires `write`. Addressed by slug or id.


        **Every object field REPLACES, it does not merge** — the opposite of `submissionPolicy` on the directory PATCH, and worth knowing which is which. That one merges because the DTO cannot express every key the column holds, so a replace would silently drop `rejectionReasons`. Here the DTO *is* the whole shape: `scope`, `constraints`, `ranking` and `seo` are your own blobs with no keys we define, so a replace can destroy nothing you did not just choose to omit — and a merge would make removing a filter from a scope impossible to express.


        `slug` **is** settable, unlike the directory and taxonomy slugs, because a recipe slug is not an address anything else keys on: no API key is pinned to it and no stored row references it. It is one of your own page names, so renaming it 404s that page until you rebuild.


        An empty body is a no-op and fires nothing.'
      parameters:
      - name: Idempotency-Key
        in: header
        description: Optional. Send a unique key per logical operation to make retries safe. 1-256 characters, and **only** letters, digits, `-` and `_` — colons and other separators are rejected with 400. A retry with the same key replays the original response (status + body) instead of re-executing. Cached for 24h. Reusing a key with a different request body returns 409 — note that a timestamp in the body (e.g. `fetchedAt`) turns an otherwise-stable key into a permanent 409, so either omit it (snapshots default it server-side) or fold a payload digest into the key. Skipped on 5xx responses (transient errors should be retried fresh).
        required: false
        schema:
          type: string
      - name: x-api-key
        in: header
        description: API Key for authentication
        required: true
        schema:
          type: string
      - name: directory
        required: true
        in: path
        schema:
          type: string
      - name: recipe
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRecipeDto'
      responses:
        '200':
          description: The updated definition
        '403':
          description: Key lacks the `write` scope
        '404':
          description: No such recipe in this directory
        '409':
          description: The new slug is already used by another recipe here
      tags:
      - Public
      security:
      - apiKey: []
    delete:
      operationId: PublicApiController_deleteRecipe
      summary: Delete a recipe definition
      description: 'Requires `write`. Addressed by slug or id.


        The one delete on this surface with **no confirmation flag and no count**, because nothing references a Recipe: it owns no child rows and no listing points at it. A recipe is a stored QUERY, so deleting one destroys the query and not a single row of content, and re-POSTing the same definition restores it exactly — which is not true of an attribute template or a taxonomy.


        It will still take a page off your site at the next build. That is worth knowing and is not worth a flag.'
      parameters:
      - name: Idempotency-Key
        in: header
        description: Optional. Send a unique key per logical operation to make retries safe. 1-256 characters, and **only** letters, digits, `-` and `_` — colons and other separators are rejected with 400. A retry with the same key replays the original response (status + body) instead of re-executing. Cached for 24h. Reusing a key with a different request body returns 409 — note that a timestamp in the body (e.g. `fetchedAt`) turns an otherwise-stable key into a permanent 409, so either omit it (snapshots default it server-side) or fold a payload digest into the key. Skipped on 5xx responses (transient errors should be retried fresh).
        required: false
        schema:
          type: string
      - name: x-api-key
        in: header
        description: API Key for authentication
        required: true
        schema:
          type: string
      - name: directory
        required: true
        in: path
        schema:
          type: string
      - name: recipe
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: Deleted
        '403':
          description: Key lacks the `write` scope
        '404':
          description: No such recipe in this directory
      tags:
      - Public
      security:
      - apiKey: []
    get:
      operationId: PublicApiController_executeRecipe
      summary: Execute a recipe and get matching listings
      parameters:
      - name: Idempotency-Key
        in: header
        description: Optional. Send a unique key per logical operation to make retries safe. 1-256 characters, and **only** letters, digits, `-` and `_` — colons and other separators are rejected with 400. A retry with the same key replays the original response (status + body) instead of re-executing. Cached for 24h. Reusing a key with a different request body returns 409 — note that a timestamp in the body (e.g. `fetchedAt`) turns an otherwise-stable key into a permanent 409, so either omit it (snapshots default it server-side) or fold a payload digest into the key. Skipped on 5xx responses (transient errors should be retried fresh).
        required: false
        schema:
          type: string
      - name: x-api-key
        in: header
        description: API Key for authentication
        required: true
        schema:
          type: string
      - name: directory
        required: true
        in: path
        schema:
          type: string
      - name: recipe
        required: true
        in: path
        schema:
          type: string
      - name: fields
        required: false
        in: query
        description: Comma-separated dotted paths to project on each listing in the result.
        schema:
          type: string
      responses:
        '200':
          description: Recipe result with matching listings
        '401':
          description: Missing or invalid X-API-Key
        '404':
          description: Recipe or directory not found
      tags:
      - Public
      security:
      - apiKey: []
  /public/v1/directories/{directory}/jobs:
    get:
      operationId: PublicApiController_listJobs
      summary: List this directory's jobs
      description: 'Requires `read:drafts` or `write`. A job row carries `inputJson` and `errorJson`, which describe work on unpublished content, so this is gated with the same pair as the dead-link report — a monitoring cron should not need a key that can delete every listing just to poll progress.


        **Jobs enqueued through `POST .../jobs` appear here. Nothing else does.** `JobsService` is the only writer of a job row in the platform, and the sweep routes — `POST .../screenshots`, `POST .../research`, `POST .../site-probes/sweep`, `POST .../enrich` — enqueue into the queue directly and create no row. So if you start a sweep and poll here you will see an empty list, and the sweep is fine. Use each sweep''s own coverage endpoint until those routes are wired to create a job row; this note goes away when they are.


        Newest first, with `id` as a tiebreak: one import fans out hundreds of jobs inside the same millisecond, so without the second sort key two pages of the same list can repeat and skip rows.'
      parameters:
      - name: Idempotency-Key
        in: header
        description: Optional. Send a unique key per logical operation to make retries safe. 1-256 characters, and **only** letters, digits, `-` and `_` — colons and other separators are rejected with 400. A retry with the same key replays the original response (status + body) instead of re-executing. Cached for 24h. Reusing a key with a different request body returns 409 — note that a timestamp in the body (e.g. `fetchedAt`) turns an otherwise-stable key into a permanent 409, so either omit it (snapshots default it server-side) or fold a payload digest into the key. Skipped on 5xx responses (transient errors should be retried fresh).
        required: false
        schema:
          type: string
      - name: x-api-key
        in: header
        description: API Key for authentication
        required: true
        schema:
          type: string
      - name: directory
        required: true
        in: path
        schema:
          type: string
      - name: jobType
        required: false
        in: query
        schema:
          type: string
      - name: status
        required: false
        in: query
        description: pending, queued, processing, completed, failed or cancelled.
        schema:
          type: string
      - name: limit
        required: false
        in: query
        description: Default 50, max 200.
        schema:
          type: string
      - name: offset
        required: false
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Jobs, newest first
        '403':
          description: Key lacks `read:drafts` and `write`
      tags:
      - Public
      security:
      - apiKey: []
    post:
      operationId: PublicApiController_createJob
      summary: Enqueue a job
      description: 'Requires `write`. Enqueues `import` or `enrichment`.


        **The other three job types are refused with a 400 that names the route to use instead**, and not for security reasons — a key with `write` can already do more than any of them. Each would be a button that does nothing:

        - `recipe_build` / `recipe_rebuild_all` — recipe execution is not implemented. The processor used to sleep three seconds and mark the job `completed` with `pagesGenerated: 0`; that pretence was removed and it now refuses, so enqueueing one from here would reintroduce the same lie one layer up. `GET .../recipes/{recipe}` executes a recipe and returns the matches.

        - `media_process` — the media processor never updates its job row, so the row would sit at `queued` for ever whatever the work did. `POST .../media/{assetId}/reprocess` does this properly.


        Queue routing and retry policy are shared with the admin surface rather than reimplemented, so the two cannot drift on which queue a type lands in.'
      parameters:
      - name: Idempotency-Key
        in: header
        description: Optional. Send a unique key per logical operation to make retries safe. 1-256 characters, and **only** letters, digits, `-` and `_` — colons and other separators are rejected with 400. A retry with the same key replays the original response (status + body) instead of re-executing. Cached for 24h. Reusing a key with a different request body returns 409 — note that a timestamp in the body (e.g. `fetchedAt`) turns an otherwise-stable key into a permanent 409, so either omit it (snapshots default it server-side) or fold a payload digest into the key. Skipped on 5xx responses (transient errors should be retried fresh).
        required: false
        schema:
          type: string
      - name: x-api-key
        in: header
        description: API Key for authentication
        required: true
        schema:
          type: string
      - name: directory
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePublicJobDto'
      responses:
        '201':
          description: Job created and queued
        '400':
          description: Job type not enqueueable from this surface; the body names the route that is
        '403':
          description: Key lacks the `write` scope
      tags:
      - Public
      security:
      - apiKey: []
  /public/v1/directories/{directory}/jobs/{jobId}:
    get:
      operationId: PublicApiController_getJob
      summary: Get one job
      description: 'Requires `read:drafts` or `write`, as the list route does.


        Returns the stored row: `status`, `inputJson`, `resultJson` and `errorJson`. `errorJson` is written by the processor from a caught exception, so treat it as text you did not author — nothing in it is cross-tenant, but it is not a field to render into a page unescaped.


        Deliberately **not** the admin shape, which also reaches into BullMQ for live queue state (`progress`, `attemptsMade`, `failedReason`). That read needs the Redis connection and fails open to `null` when Redis is unreachable, which on this surface would make a job look un-started during an incident rather than un-pollable. The stored row is written by the processor and is the thing that survives.'
      parameters:
      - name: Idempotency-Key
        in: header
        description: Optional. Send a unique key per logical operation to make retries safe. 1-256 characters, and **only** letters, digits, `-` and `_` — colons and other separators are rejected with 400. A retry with the same key replays the original response (status + body) instead of re-executing. Cached for 24h. Reusing a key with a different request body returns 409 — note that a timestamp in the body (e.g. `fetchedAt`) turns an otherwise-stable key into a permanent 409, so either omit it (snapshots default it server-side) or fold a payload digest into the key. Skipped on 5xx responses (transient errors should be retried fresh).
        required: false
        schema:
          type: string
      - name: x-api-key
        in: header
        description: API Key for authentication
        required: true
        schema:
          type: string
      - name: directory
        required: true
        in: path
        schema:
          type: string
      - name: jobId
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: The job
        '403':
          description: Key lacks `read:drafts` and `write`
        '404':
          description: No such job in this directory
      tags:
      - Public
      security:
      - apiKey: []
  /public/v1/directories/{directory}/jobs/{jobId}/cancel:
    post:
      operationId: PublicApiController_cancelJob
      summary: Cancel a job
      description: 'Requires `write`. Removes the job from its queue and marks the row `cancelled`.


        Idempotent: a job that has already finished returns 200 reporting its final status rather than an error, because the caller''s intent — "do not run this" — is satisfied either way, and a retried cancel is the most likely second call there is.


        **Cancelling does not undo work already done.** A cancelled import keeps the listings it had already written; `status` goes to `cancelled` and the rows stay. Nothing rolls back, because an import is thousands of independent upserts rather than one transaction.'
      parameters:
      - name: Idempotency-Key
        in: header
        description: Optional. Send a unique key per logical operation to make retries safe. 1-256 characters, and **only** letters, digits, `-` and `_` — colons and other separators are rejected with 400. A retry with the same key replays the original response (status + body) instead of re-executing. Cached for 24h. Reusing a key with a different request body returns 409 — note that a timestamp in the body (e.g. `fetchedAt`) turns an otherwise-stable key into a permanent 409, so either omit it (snapshots default it server-side) or fold a payload digest into the key. Skipped on 5xx responses (transient errors should be retried fresh).
        required: false
        schema:
          type: string
      - name: x-api-key
        in: header
        description: API Key for authentication
        required: true
        schema:
          type: string
      - name: directory
        required: true
        in: path
        schema:
          type: string
      - name: jobId
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: Cancelled, or already finished
        '403':
          description: Key lacks the `write` scope
        '404':
          description: No such job in this directory
      tags:
      - Public
      security:
      - apiKey: []
  /public/v1/directories/{directory}/jobs/{jobId}/retry:
    post:
      operationId: PublicApiController_retryJob
      summary: Retry a failed or cancelled job
      description: 'Requires `write`. Creates a **new** job with the same `inputJson` and returns it — the original row is left as it is, so a failure stays on the record rather than being overwritten by its own retry. Poll the id in the response, not the one you sent.


        Only `failed` and `cancelled` jobs retry; anything else returns 200 saying so rather than erroring, matching cancel.


        The retry goes through the same job-type whitelist as `POST .../jobs`, so a `recipe_build` row created before that whitelist existed cannot be revived through this route.'
      parameters:
      - name: Idempotency-Key
        in: header
        description: Optional. Send a unique key per logical operation to make retries safe. 1-256 characters, and **only** letters, digits, `-` and `_` — colons and other separators are rejected with 400. A retry with the same key replays the original response (status + body) instead of re-executing. Cached for 24h. Reusing a key with a different request body returns 409 — note that a timestamp in the body (e.g. `fetchedAt`) turns an otherwise-stable key into a permanent 409, so either omit it (snapshots default it server-side) or fold a payload digest into the key. Skipped on 5xx responses (transient errors should be retried fresh).
        required: false
        schema:
          type: string
      - name: x-api-key
        in: header
        description: API Key for authentication
        required: true
        schema:
          type: string
      - name: directory
        required: true
        in: path
        schema:
          type: string
      - name: jobId
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: A new job, or a note that the original is not retriable
        '400':
          description: The original job's type is not enqueueable from this surface
        '403':
          description: Key lacks the `write` scope
        '404':
          description: No such job in this directory
      tags:
      - Public
      security:
      - apiKey: []
  /public/v1/directories/{directory}/taxonomies/{taxonomy}/terms/{term}:
    get:
      operationId: PublicApiController_getTaxonomyTerm
      summary: Read one term by slug
      description: 'Same term shape as the list route, addressed by slug. Use it to read a term back before a PATCH: `metadata` is full-replace, so the correct partial update is to GET this, spread `metadata`, add your fields and send the merged object. Until this route existed there was no way to perform that read, which made every partial metadata update a guess.'
      parameters:
      - name: Idempotency-Key
        in: header
        description: Optional. Send a unique key per logical operation to make retries safe. 1-256 characters, and **only** letters, digits, `-` and `_` — colons and other separators are rejected with 400. A retry with the same key replays the original response (status + body) instead of re-executing. Cached for 24h. Reusing a key with a different request body returns 409 — note that a timestamp in the body (e.g. `fetchedAt`) turns an otherwise-stable key into a permanent 409, so either omit it (snapshots default it server-side) or fold a payload digest into the key. Skipped on 5xx responses (transient errors should be retried fresh).
        required: false
        schema:
          type: string
      - name: x-api-key
        in: header
        description: API Key for authentication
        required: true
        schema:
          type: string
      - name: directory
        required: true
        in: path
        schema:
          type: string
      - name: taxonomy
        required: true
        in: path
        schema:
          type: string
      - name: term
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: The term
        '401':
          description: Missing or invalid X-API-Key
        '404':
          description: Directory, taxonomy, or term not found
      tags:
      - Public
      security:
      - apiKey: []
    patch:
      operationId: PublicApiController_updateTerm
      summary: Update a term's label / parent / metadata
      description: 'Edit term-level metadata (synonyms, seoKeywords, relatedTopics, description, etc.) without round-tripping through the admin UI. Body matches the admin UpdateTermDto shape — see /v1/.../taxonomies/:tax/terms/:term for the full field list.


        **The slug is immutable.** There is no `slug` field on the body and there is no rename: a term created as `beverages` and relabelled to `Drinks` is still addressed as `beverages` by every route that takes a `:term`, including DELETE. The slug is the term''s identity — listings reference it and consumer sites build URLs from it — so a rename would silently break inbound links with no alias to catch them (`ListingSlugAlias` covers listings, not terms). To change the addressable name, create the new term, move the listings, delete the old one.


        **`metadata` is full-replace.** Sending `{ metadata: { synonyms: [...] } }` wipes seoKeywords and every other key. Read-modify-write when partially updating: GET the term, spread its metadata, add your fields, send the merged object back.


        **Reparent with `parentSlug`**, which is the only parent reference obtainable from this surface — no public route returns a term id. `parentSlug: null` unparents; an absent field leaves the parent alone. `parentTermId` still works, and sending both is a 400.'
      parameters:
      - name: Idempotency-Key
        in: header
        description: Optional. Send a unique key per logical operation to make retries safe. 1-256 characters, and **only** letters, digits, `-` and `_` — colons and other separators are rejected with 400. A retry with the same key replays the original response (status + body) instead of re-executing. Cached for 24h. Reusing a key with a different request body returns 409 — note that a timestamp in the body (e.g. `fetchedAt`) turns an otherwise-stable key into a permanent 409, so either omit it (snapshots default it server-side) or fold a payload digest into the key. Skipped on 5xx responses (transient errors should be retried fresh).
        required: false
        schema:
          type: string
      - name: x-api-key
        in: header
        description: API Key for authentication
        required: true
        schema:
          type: string
      - name: directory
        required: true
        in: path
        schema:
          type: string
      - name: taxonomy
        required: true
        in: path
        schema:
          type: string
      - name: term
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicUpdateTermDto'
      responses:
        '200':
          description: Term updated
        '400':
          description: Parent not found in this taxonomy, both `parentSlug` and `parentTermId` sent, a parent set on a flat taxonomy, or a term made its own parent
        '401':
          description: Missing or invalid X-API-Key
        '403':
          description: API key missing required scope "write"
        '404':
          description: Directory, taxonomy, or term not found
      tags:
      - Public
      security:
      - apiKey: []
    delete:
      operationId: PublicApiController_deleteTerm
      summary: Delete a taxonomy term
      description: 'Requires `write`. **Completes the other half of the `resolve-batch` loop** — creating a term from an `unmapped` value became possible with a public key, but undoing a bad mapping still needed a human in the admin UI.


        Refuses with 409 when anything still depends on the term:

        - **child terms** — delete or reparent them first;

        - **assigned listings** — the body carries `listingCount`. Reassign them with `PUT /directories/:directory/listings/:listingType/:listingSlug/terms`, then retry.


        There is no `force` flag. `ListingTerm` cascades in Postgres, so a permissive delete would silently strip every assignment the term holds and the caller would discover it at the next build. The count is the warning.'
      parameters:
      - name: Idempotency-Key
        in: header
        description: Optional. Send a unique key per logical operation to make retries safe. 1-256 characters, and **only** letters, digits, `-` and `_` — colons and other separators are rejected with 400. A retry with the same key replays the original response (status + body) instead of re-executing. Cached for 24h. Reusing a key with a different request body returns 409 — note that a timestamp in the body (e.g. `fetchedAt`) turns an otherwise-stable key into a permanent 409, so either omit it (snapshots default it server-side) or fold a payload digest into the key. Skipped on 5xx responses (transient errors should be retried fresh).
        required: false
        schema:
          type: string
      - name: x-api-key
        in: header
        description: API Key for authentication
        required: true
        schema:
          type: string
      - name: directory
        required: true
        in: path
        schema:
          type: string
      - name: taxonomy
        required: true
        in: path
        schema:
          type: string
      - name: term
        required: true
        in: path
        schema:
          type: string
      responses:
        '204':
          description: Term deleted
        '401':
          description: Missing or invalid X-API-Key
        '403':
          description: API key missing required scope "write"
        '404':
          description: Directory, taxonomy, or term not found
        '409':
          description: Term has child terms, or listings are still assigned to it (see `listingCount`)
      tags:
      - Public
      security:
      - apiKey: []
  /public/v1/directories/{directory}/taxonomies/{taxonomy}/resolve:
    get:
      operationId: PublicApiController_resolveTerm
      summary: Resolve a single raw value to a taxonomy term
      description: Tries term.slug, then term.label, then any string in metadata.synonyms[]. Returns matched=false (no error) when nothing fits — caller decides whether to add a new term or expand synonyms.
      parameters:
      - name: Idempotency-Key
        in: header
        description: Optional. Send a unique key per logical operation to make retries safe. 1-256 characters, and **only** letters, digits, `-` and `_` — colons and other separators are rejected with 400. A retry with the same key replays the original response (status + body) instead of re-executing. Cached for 24h. Reusing a key with a different request body returns 409 — note that a timestamp in the body (e.g. `fetchedAt`) turns an otherwise-stable key into a permanent 409, so either omit it (snapshots default it server-side) or fold a payload digest into the key. Skipped on 5xx responses (transient errors should be retried fresh).
        required: false
        schema:
          type: string
      - name: x-api-key
        in: header
        description: API Key for authentication
        required: true
        schema:
          type: string
      - name: directory
        required: true
        in: path
        schema:
          type: string
      - name: taxonomy
        required: true
        in: path
        schema:
          type: string
      - name: value
        required: true
        in: query
        description: Raw user/source string to resolve
        schema:
          type: string
      responses:
        '200':
          description: Resolution result (matched or not)
        '400':
          description: Missing ?value
        '401':
          description: Missing or invalid X-API-Key
        '404':
          description: Directory or taxonomy not found
      tags:
      - Public
      security:
      - apiKey: []
  /public/v1/directories/{directory}/taxonomies/{taxonomy}/resolve-batch:
    post:
      operationId: PublicApiController_resolveTermsBatch
      summary: Resolve a batch of raw values; report which mapped and which did not
      description: 'Body: { values: ["AI", "Machine Learning", "DevOps"] }. Response groups results into matched + unmapped — agents typically loop the unmapped list to either create new terms or extend synonyms on existing ones.'
      parameters:
      - name: Idempotency-Key
        in: header
        description: Optional. Send a unique key per logical operation to make retries safe. 1-256 characters, and **only** letters, digits, `-` and `_` — colons and other separators are rejected with 400. A retry with the same key replays the original response (status + body) instead of re-executing. Cached for 24h. Reusing a key with a different request body returns 409 — note that a timestamp in the body (e.g. `fetchedAt`) turns an otherwise-stable key into a permanent 409, so either omit it (snapshots default it server-side) or fold a payload digest into the key. Skipped on 5xx responses (transient errors should be retried fresh).
        required: false
        schema:
          type: string
      - name: x-api-key
        in: header
        description: API Key for authentication
        required: true
        schema:
          type: string
      - name: directory
        required: true
        in: path
        schema:
          type: string
      - name: taxonomy
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: Resolution report
        '400':
          description: Missing or empty values array
        '401':
          description: Missing or invalid X-API-Key
        '404':
          description: Directory or taxonomy not found
      tags:
      - Public
      security:
      - apiKey: []
  /public/v1/directories/{directory}/taxonomies/{taxonomy}:
    get:
      operationId: PublicApiController_getTaxonomy
      summary: Get one taxonomy
      description: No scope required, for the reason the list route gives. Addressed by slug, like everything else on this surface.
      parameters:
      - name: Idempotency-Key
        in: header
        description: Optional. Send a unique key per logical operation to make retries safe. 1-256 characters, and **only** letters, digits, `-` and `_` — colons and other separators are rejected with 400. A retry with the same key replays the original response (status + body) instead of re-executing. Cached for 24h. Reusing a key with a different request body returns 409 — note that a timestamp in the body (e.g. `fetchedAt`) turns an otherwise-stable key into a permanent 409, so either omit it (snapshots default it server-side) or fold a payload digest into the key. Skipped on 5xx responses (transient errors should be retried fresh).
        required: false
        schema:
          type: string
      - name: x-api-key
        in: header
        description: API Key for authentication
        required: true
        schema:
          type: string
      - name: directory
        required: true
        in: path
        schema:
          type: string
      - name: taxonomy
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: The taxonomy, with its term count
        '404':
          description: No such taxonomy in this directory
      tags:
      - Public
      security:
      - apiKey: []
    patch:
      operationId: PublicApiController_updateTaxonomy
      summary: Rename a taxonomy
      description: 'Requires `write`. `name` only.


        `slug` is not settable: it is the address every route here reaches the taxonomy by, and the name `PUT .../terms` uses in a write body, so renaming it through the key that is mid-import strands the importer. Same rule as the directory slug.


        `structure` is not settable either, and for a sharper reason than caution. Going hierarchical → flat does **not** clear `parentTermId`, so the terms keep their parents while the taxonomy claims to have none — `POST .../terms` starts refusing a parent that existing rows already have, and a consumer building a tree from `parentTermId` renders a hierarchy the API says cannot exist. Doing it safely needs a migration that flattens the terms, which is a feature rather than a field.


        An empty body is a no-op and fires nothing.'
      parameters:
      - name: Idempotency-Key
        in: header
        description: Optional. Send a unique key per logical operation to make retries safe. 1-256 characters, and **only** letters, digits, `-` and `_` — colons and other separators are rejected with 400. A retry with the same key replays the original response (status + body) instead of re-executing. Cached for 24h. Reusing a key with a different request body returns 409 — note that a timestamp in the body (e.g. `fetchedAt`) turns an otherwise-stable key into a permanent 409, so either omit it (snapshots default it server-side) or fold a payload digest into the key. Skipped on 5xx responses (transient errors should be retried fresh).
        required: false
        schema:
          type: string
      - name: x-api-key
        in: header
        description: API Key for authentication
        required: true
        schema:
          type: string
      - name: directory
        required: true
        in: path
        schema:
          type: string
      - name: taxonomy
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTaxonomyDto'
      responses:
        '200':
          description: The renamed taxonomy
        '403':
          description: Key lacks the `write` scope
        '404':
          description: No such taxonomy in this directory
      tags:
      - Public
      security:
      - apiKey: []
    delete:
      operationId: PublicApiController_deleteTaxonomy
      summary: Delete a taxonomy
[...]
